/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    font-family: "Poppins", sans-serif; 
      margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none !important;
  }

a{
    text-decoration: none;
}
  

:root {
    --main-color:#800000;
    --light-color: #e1b955;
    --text-color: #2e2e2e;
    --hover-color: #895139;
    --bg-color: #fff;
    --navbar-color:#808080;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

/* scrool bar  */
html::-webkit-scrollbar {
    width: 0.3rem;
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: var(--main-color);
}



.btn {
    background-color: var(--main-color);
    padding: 15px 24px;
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
}

.btn:hover {
    background-color: var(--hover-color);
    transition: 0.3s all linear;

}

.container {
    max-width: 968px;
    margin: auto;
    width: 100%;
    
}

section {
    padding: 4rem 0 3rem;
}

/* header section  */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: gray;
    

}




header.shadow {
    background-color: grey;  /* Ensure navbar background is grey */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Adds shadow */
    transition: background-color 0.3s ease-in-out;
}

/*.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures proper spacing between elements */
    width: 100%; /* Makes the navbar span the entire width */
    max-width: 100%; /* Restricts the maximum width */
    padding: 10px 20px; /* Adds padding for spacing */
    margin: auto; /* Centers the navbar */
    transition: background-color 0.3s ease-in-out;
}


.logo {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--bg-color);
    margin: 0px auto 0px 50px;
    

    

}

.logo span {
    color: var(--main-color);
}

/* menu icon  */
.menu-icon {
    display: grid;
    row-gap: 6px;
    padding: 14px 14px;
    
    cursor: pointer;
    z-index: 200;
    transition: 200;

}

.menu-icon div {
    display: flex;
    background-color: var(--bg-color);
    height: 2px;
    width: 25px;
    transition: 0.3s;
}

.move .line1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.move .line2 {
    opacity: 0;
}

.move .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(4.5px);
    z-index: 106;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.navbar a {
    padding: 20px;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.2s all linear;
}

.navbar a:hover {
    background-color: var(--main-color);
    font-size: 1.8rem;
    color: var(--bg-color);
}

.navbar.active {
    display: flex;
}

/* nav icons  */
.nav-icons {
    display: flex;
    column-gap: 1rem;
    z-index: 200;

}

.nav-icons .fa-solid {
    font-size: 1rem;
    color: var(--bg-color);
    padding: 10px;
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

/* cart  */
.cart {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(4.5px);
    z-index: 106;
    gap: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.cart.active {
    display: flex;
}

.cart-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    width: 100%;
    padding: 20px;
    row-gap: 1rem;
    

}

.cart-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cart-box img {
    width: 100px;

}

.card-text {
    display: grid;
}

.card-text h3 {
    font-size: 1rem;
}

.card-text span {
    font-weight: 500;
}

.cart-box .fa-solid {
    font-size: 20px;
    color: var(--text-color);
}

.cart-box .fa-solid:hover {
    color: var(--main-color);
}

.code-color{
    color: #800000;
}


.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

}

.total h3 {
    font-size: 1rem;

}

.total span {
    font-weight: 500;
}

.cart-content .btn {
    display: inline-block;
    text-align: center;
}

/* login form  */
.login-form {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(4.5px);
    z-index: 106;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.login-form.active {
    display: flex;
}

.login-form form {
    max-width: 300px;
    width: 100%;
    margin: auto;
    display: grid;
    text-align: center;
    row-gap: 1rem;
    padding: 10px;

}

.login-form form h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.login-form form input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 0.9rem;
    padding: 14px;
    background: var(--bg-color);
    border: 2px solid #9b5c41;
    border-radius: 0.5rem;

}

.login-form form a {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: right;
}

.login-form form a:hover {
    color: var(--main-color);
}

.login-form form .btn {
    border: none;
    background-color: var(--main-color);
    cursor: pointer;
}

.login-form form .btn:hover {
    background-color: var(--hover-color);
}

/* Home section  */
.home {
    position: relative;
    min-height: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.home-text h1 {
    font-size: 3rem;
}

.home-text h1 span {
    color: var(--main-color);
}

.home-text p {
    margin: 1rem 0 1.8rem;
}

.home-img img {
    width: 100%;
    height: 100%;
    border-radius: 50px;

}



.home-img::after {
    content: "";
    height: 215px;
    width: 490px;
    background-color: var(--light-color);
    position: absolute;
    bottom: 0;
    right: 20px;
    border-radius: 50%;
    z-index: -1;

}

/* popular section  */
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-left: 58px;
}

.heading h2 {
    font-size: 1.4rem;
}

.heading a {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
    text-decoration: none;
}

.heading a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}



.box {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
    display: grid;
    row-gap: 0.5rem;
}

.box img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.box-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 0.5rem;
}

.title-price h3 {
    font-size: 1rem;
    font-weight: 600;
}

.title-price span {
    font-weight: 500;
}

.box-text i {
    padding: 13px 10px;
    font-size: 15px;
    color: var(--bg-color);
    background: var(--text-color);
    border-radius: 15rem;
    height: 40px;
    width: 40px;
    text-align: center;
}

.box-text i:hover {
    background-color: var(--main-color);
}


/* About section  */
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    width: 400px;
}

.about-img {
    position: relative;
}

.about-img::after {
    content: '';
    height: 340px;
    width: 232px;
    background: var(--light-color);
    position: absolute;
    bottom: 0;
    left: 20px;
    border-radius: 0.5rem;
    z-index: -1;
}

.about-text h2 {
    font-size: 1.4rem;
}

.about-text p {
    text-align: justify;
    margin: 1rem 0;
}

.features {
    display: grid;
    row-gap: 0.8rem;
}

.features i {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--main-color);

}

.features span {
    margin-left: 1rem;
    color: var(--text-color);
    font-size: 0.9rem;
}

.see-all {
    padding-right: 70px;
  }
  div.see-all a {
    text-decoration: none;
  }
  
 
.products-content {
    display: flex;
    gap: 20px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    text-decoration: none;
}

.products-content .box {
    min-width: 300px; /* Adjust as per design */
    flex-shrink: 0;
    animation: scrollCards 11s linear infinite;
}

@keyframes scrollCards {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Clone the cards for infinite effect */
.products-content::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    left: 100%;
}


/* newsletter secation  */
.newsletter {
    background-color: #f1f1f1;
}

.newsletter-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.newsletter-text h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.newsletter-content form {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    column-gap: 1rem;
}

.newsletter-content form input {
    border: none;
    padding: 15px;
    outline-color: var(--main-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: #fff;

}

.newsletter-content form input ::placeholder {
    font-size: 1rem;
}

.newsletter-content form input:nth-child(2) {
    background-color: var(--main-color);
    padding: 15px 24px;
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
}

.newsletter-content form input:nth-child(2):hover {
    background-color: var(--hover-color);
}

/* footer section  */
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));

}

.footer-box {
    display: flex;
    flex-direction: column;

}

.footer-box h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-box a {
    color: var(--text-color);
    margin-top: 0.5rem;
}

.footer-box a:hover {
    color: var(--main-color);
}

.social {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.social .fa-brands {
    padding: 8px;
    background-color: var(--main-color);
    font-size: 20px;
    border-radius: 0.5rem;
    color: var(--bg-color);
}

.social .fa-brands:hover {
    background-color: var(--hover-color);
    transition: 0.3s all linear;
}

/* copyrights*/
.copyrights {
    text-align: center;
    padding: 30px;

}

/* scroll top  */
.scroll-top {
    position: fixed;
    bottom: 1.5rem;
    right: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 50px;
    height: 50px;
}


.scroll-top.active {
    right: 1.5rem;
    transition: 0.3s;
}

@media (max-width:1020px) {
    .container {
        margin: auto;
        width: 90%;
    }

    .home-img::after {
        height: 170px;
        width: 450px;
    }
 
}

@media (max-width:880px) {
    section {
        padding: 3rem 0 2rem;
    }

    .nav {
        padding: 12px 0;
    }

    .home-text h1 {
        font-size: 2rem;
    }

    .home-img img {
        width: 85%;
        margin-left: 32px;

    }

    .home-img::after {
        height: 170px;
        width: 415px;
        right: 10px;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .box img {
        width: 180px;
        height: 200px;
    }

    .about-img img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .menu-icon {
        padding: 12px 10px;
    }

    .home-text p br {
        display: contents;

    }

    .home-img::after {
        width: 345px;
        right: 10px;
    }

    .about-img::after {
        bottom: 15px;
    }
}

@media (max-width:624px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a {
        padding: 15px;
        display: block;
    }

    .home,
    .about {
        grid-template-columns: 1fr;
    }

    .home-text,
    .about-img {
        order: 2;
    }

    /* .home-img img {
        width: 400px;
        margin-left: 51px;
    } */

    .home-img::after {
        width: 100%;
        right: 12px;
    }

    .about-img::after {
        height: 90%;
    }

    .newsletter-content {
        grid-template-columns: 1fr;
    }

    .newsletter-content form {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}

@media (max-width:360px) {
    .nav {
        padding: 8px 0;
    }

    .menu-icon {
        padding: 10px 8px;
    }

    .nav-icons .fa-solid {
        padding: 8px;
    }

    .home-text h1 {
        font-size: 1.7rem;
    }

    p {
        font-size: 0.875rem;
    }

    .home-text p {
        margin: 0.2rem 0 1.4rem;
    }

    .heading h2,
    .heading a {
        font-size: 1rem;
    }

    .about-text h2 {
        font-size: 1.2rem;
    }

    .about-text p {
        margin: 0.8rem 0;
    }
  
}